@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.MuiButtonBase-root.Mui-selected {
  background-color: #1976d2 !important;
  padding: 0.5rem 1rem !important;
  border-radius: 40px !important;
  border: none !important;
  color: white !important;
}
@media (min-width: 600px) {
  .MuiButtonBase-root.Mui-selected {
    background-color: #1976d2 !important;
    padding: 1rem 2rem !important;
    border-radius: 50px !important;
    color: white !important;
    border: none !important;
  }
}

.MuiTabs-indicator {
  display: none !important;
}
.MuiTabList-flexContainer {
  justify-content: center !important;
  flex-wrap: wrap !important;
}
